In [41]:
import pandas as pd
import pickle
import os

In [52]:
for f in os.listdir('../data_vis/tsne_data/'):
    num = f.split(".")[0].split("_")[-1]
    with open(os.path.join("../data_vis/tsne_data/", f), "rb") as f:
        df = pickle.load(f)
        df = df[["X", "Y"]]
    
    with open(f'../data_vis/caption_data/cap_df_{num}.pkl', 'rb') as f:
        df_cap = pickle.load(f)
        df_cap = df_cap[["caption", "mean", "votes"]]
    
    out = pd.concat([df, df_cap], axis=1)

    out.to_json(f'tsne/{num}.json', orient="records")

In [49]:
out

,X,Y,caption,mean,votes
0,0.626756,0.528142,It was so much easier when everyone was still ...,1.896163,1772
1,0.657362,0.883015,Be careful. It's hot.,1.893146,2845
2,0.502294,0.108117,I'm surprised you didn't order wings.,1.877646,2362
3,0.474219,0.654644,This is from the ladies over there on the 40th...,1.832416,3634
4,0.243284,0.657742,We usually don’t deliver above 82nd Street.,1.823029,4351
...,...,...,...,...,...
5767,0.247979,0.684281,We are thinking of forming a Union.,1.032258,62
5768,0.750191,0.222524,Even though I have to give you the pizza for f...,1.031746,63
5769,0.429454,0.824546,All they had was pepperoni.,1.030303,66
5770,0.784011,0.546493,"The usual guy passes a bottle, but new guy has...",1.028169,71
5771,0.675595,0.517627,Here's your pizza!,1.014493,69

In [47]:
df_cap

,index,caption,mean,precision,votes,not_funny,somewhat_funny,funny,sentence_len,img_id,cap_feat,img_feat
0,0,It was so much easier when everyone was still ...,1.896163,0.018950,1772,665,626,481,12,802,"[0.032725, -0.0009264564, -0.009149671, 0.0536...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."
1,1,Be careful. It's hot.,1.893146,0.015538,2845,1145,859,841,4,802,"[0.0060441964, 0.062545046, -0.008651126, 0.05...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."
2,2,I'm surprised you didn't order wings.,1.877646,0.016573,2362,928,795,639,6,802,"[0.005598897, 0.0035372218, -0.022641635, 0.04...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."
3,3,This is from the ladies over there on the 40th...,1.832416,0.013384,3634,1538,1167,929,12,802,"[-0.006267787, 0.01795858, -0.008211688, 0.048...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."
4,4,We usually don’t deliver above 82nd Street.,1.823029,0.012271,4351,1878,1365,1108,7,802,"[0.013254824, 0.028176712, -0.009823043, 0.023...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."
...,...,...,...,...,...,...,...,...,...,...,...,...
5767,5767,We are thinking of forming a Union.,1.032258,0.022622,62,60,2,0,7,802,"[0.04172807, 0.020487329, 0.0049212817, 0.0405...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."
5768,5768,Even though I have to give you the pizza for f...,1.031746,0.022266,63,61,2,0,20,802,"[0.049452946, -0.027337167, -0.034395915, 0.06...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."
5769,5769,All they had was pepperoni.,1.030303,0.021262,66,64,2,0,5,802,"[-0.017361965, 0.063046806, -0.0034792477, 0.0...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."
5770,5770,"The usual guy passes a bottle, but new guy has...",1.028169,0.028169,71,70,0,1,17,802,"[0.021791477, 0.05123488, -0.028588668, -0.024...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."
5771,5771,Here's your pizza!,1.014493,0.014599,69,68,1,0,3,802,"[-0.031005995, 0.054003652, 0.011029547, 0.045...","[[-0.060399987, -0.07426079, 0.01905935, 0.012..."

In [18]:
with open("../data_vis/cap/510.pkl", "rb") as f:
    df_cap = pickle.load(f)

In [37]:
df = pd.concat(df)

In [5]:
df.head(4)

,X,Y,caption,img_id
0,0.242387,0.263043,"[-0.0024316765, 0.015905945, 0.011367992, 0.01...",510
1,0.453534,0.309793,"[0.013644677, -0.013433643, 0.018261889, -0.00...",510
2,0.254215,0.816617,"[0.013936427, 0.0062423013, -0.026340615, 0.00...",510
3,0.449136,0.640177,"[0.024949268, 0.017259138, 0.012959479, -0.016...",510

In [20]:
df_cap = pd.concat(df_cap)

In [30]:
df_cap.head()

                                             caption img_id      mean  votes
0          I'm a congressman--obstruction is my job.    510  1.913043     69
1  I'm what they mean when they say, 'The middle ...    510  1.842105     19
2                  Does this suit make me look flat?    510  1.711111     45
3    When the right woman comes along, I'll know it.    510  1.625000     32
4  I used to lie in the gutter, but then I quit d...    510  1.617647     34

In [38]:
df_xy = df[["X", "Y"]]
print(len(df_xy))
print(len(df_cap))
out = pd.concat([df_xy, df_cap], axis=1)

46814
46814

In [39]:
out

,X,Y,caption,img_id,mean,votes
0,0.242387,0.263043,I'm a congressman--obstruction is my job.,510,1.913043,69
1,0.453534,0.309793,"I'm what they mean when they say, 'The middle ...",510,1.842105,19
2,0.254215,0.816617,Does this suit make me look flat?,510,1.711111,45
3,0.449136,0.640177,"When the right woman comes along, I'll know it.",510,1.625000,32
4,0.533865,0.685779,"I used to lie in the gutter, but then I quit d...",510,1.617647,34
...,...,...,...,...,...,...
4609,0.291672,0.390397,Not a friend in need,519,1.000000,11
4610,0.658965,0.865908,"It likes guns, so it must be a Bernie Bird.",519,1.000000,11
4611,0.609398,0.681202,That one looks like he is a few bullets shy of...,519,1.000000,11
4612,0.367796,0.252645,aa,519,1.000000,12
4613,0.395475,0.505584,Gentrification must have hit Ralph hard.,519,1.000000,14

In [17]:
fil.to_json('test.json', orient='records')